.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.inputsStyle {
  border-radius: 4px;
  border: none;
  height: 40px;
  text-align: center;
  margin: 0 5px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#main {
  display: flex;
  background: rgb(204, 204, 204);
}

#trybewarts-forms-logo {
  height: 500px;
}

.containerform {
  display: flex;
}

#evaluation-form .inputsStyle {
  margin: 10px;
  flex-flow: row nowrap;
  width: 300px;
}
